body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    margin: auto;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

header .logo {
    display: inline;
    padding: 0 0 25px 10px;
    text-decoration: none;
    float: left;
    font-size: 30px;
    color: #cc3333;
    margin: 25px 0px;
}

header .logo {
    position: relative;
}

header .logo span {
    color: black;
    white-space: nowrap;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.footer {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 100%;
    color: black;
    z-index: 4;
    text-align: right;
    margin-top: 90%;
}

.construction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0.5%;
    font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}